<header class="flex justify-center items-center">
  <div class="px-6 container flex justify-between items-center">
    <!-- Logo -->
    <a routerLink="/" class="text-2xl font-bold text-blue-600">
      PuntualDocente
    </a>

    <!-- <!-- Menú de navegación (para pantallas grandes) -->
    <!-- <nav class="hidden md:flex space-x-6"> -->
    <!--   <a routerLink="/" class="text-gray-700 hover:text-blue-600 transition">Inicio</a> -->
    <!--   <a routerLink="/dashboard" class="text-gray-700 hover:text-blue-600 transition">Dashboard</a> -->
    <!--   <a routerLink="/contacto" class="text-gray-700 hover:text-blue-600 transition">Contacto</a> -->
    <!-- </nav> -->

    <!-- Botón de Inicio de Sesión -->
    <div class="hidden md:block">
      <a routerLink="/login" class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition">
        Iniciar sesión
      </a>
    </div>

    <!--   <!-- Menú hamburguesa para móviles -->
    <!--   <button (click)="toggleMenu()" class="md:hidden text-gray-700 focus:outline-none"> -->
    <!--     test menu hamburguer -->
    <!--     <i class="fas fa-bars text-2xl"></i> -->
    <!--   </button> -->
    <!-- </div> -->

    <!-- <!-- Menú desplegable en móviles -->
    <!-- <div *ngIf="isMenuOpen" class="md:hidden bg-white border-t shadow-md"> -->
    <!--   <nav class="flex flex-col items-center py-4 space-y-4"> -->
    <!--     <a routerLink="/" (click)="toggleMenu()" class="text-gray-700 hover:text-blue-600 transition">Inicio</a> -->
    <!--     <a routerLink="/dashboard" (click)="toggleMenu()" -->
    <!--       class="text-gray-700 hover:text-blue-600 transition">Dashboard</a> -->
    <!--     <a routerLink="/contacto" (click)="toggleMenu()" class="text-gray-700 hover:text-blue-600 transition">Contacto</a> -->
    <!--     <a routerLink="/login" (click)="toggleMenu()" -->
    <!--       class="px-4 py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700 transition"> -->
    <!--       Iniciar sesión -->
    <!--     </a> -->
    <!--   </nav> -->
  </div>
</header>
